body {
	background-color: #222f1d;
}

#header {
}

#logo {
	position: fixed;
	left: 5px;
}

#login_logo {
	position: fixed;
	right: 5px;
}

#main {
}

iframe {
	background-color: white;
	border-radius: 15px;
	width: 99%;
	height: 98%;
}

#footer {
	text-align: center;
	font-size:0px;
	padding-top:30px;
}

#banner_c {
	width: 550px;
	height:62px;
	display: inline-block;
	background-image: url(images/banner_c.png);
	background-repeat: repeat-x;
}

.icon {
	width: 70px;
	height: 60px;
	position: absolute;
}

#icon1 {
	left: 35%;
}

#icon2 {
	left: 42%;
}

#icon3 {
	left: 49%;
}

#icon4 {
	left: 56%;
}